[submodule "src/main/resources/maps/barracks"]
	path = src/main/resources/maps/barracks
	url = https://github.com/EsotericOrganisation/firework-wars-barracks-map.git
[submodule "src/main/resources/maps/world"]
	path = src/main/resources/maps/world
	url = git@github.com:EsotericOrganisation/firework-wars-lobby.git
